<!doctype html>
<html lang="en">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
  integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
{{ partial "head.html" . }}

<style>
  #main {
    max-width: 80ch;
    margin: auto;
  }
</style>

<body>
  <main id="main">
    <div class="content">
      {{ partial "header.html" . }}
      {{ .Content }}
      {{ if gt (len ( where .Site.RegularPages "Section" "posts" )) 0 }}
      <h1>Latest Post</h1>
      <section>
        {{ range (first 3 (where .Site.RegularPages "Section" "posts" ).ByDate.Reverse) }}
        <p>
          <time class="g time" datetime="{{ dateFormat " 2006-01-02" .Date }}">{{ dateFormat "2006-01-02" .Date
            }}</time>&nbsp;
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        <p>
          {{ end }}
      </section>
      {{ end }}
    </div>
  </main>
</body>
{{ partial "footer.html" . }}

</html>